div.container {
    padding-top: 2rem;
}



div.jb-box {
    max-width: 100%;
    margin: 0 auto;
    background-color: #000;
    filter: brightness(50%);
    margin-top: -150px;
    overflow: hidden;
    position: relative;
}



div.jb-box img {
    width: 100%;
    aspect-ratio: 2/1;
    max-height: 800px;
    border-radius: 5px;
}


div.benefit-slide {
    width: 100%;
}

div.benefit-slide h2 {
    margin-top: 20px;
}


span.more-benefit img {
    max-height: 800px;
    margin-top: 2rem;
}

div.slide-item {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.slide-item-left {
    width: 40%;
}

div.slide-item-left img {
    width: 100%;
    aspect-ratio: 20/17;
}

div.slide-item-right {
    width: 60%;
}

div.slide-item-right img {
    width: 100%;
    aspect-ratio: 10/7;
}

div.slide-bar {
    margin: auto;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

div.slide-page-bar {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 2px;
    margin: auto 0;
}

span.slide-page-bar-item {
    display: block;
    width: 20%;
    height: 100%;
    background-color: rgb(190, 188, 188);
}

span.slide-page-bar-item-on {
    display: block;
    width: 20%;
    height: 100%;
    background-color: rgb(83, 100, 153);
}

div.slide-btn-box {
    margin: auto 0;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

#slide-prev {
    display: block;
    margin-top: 4px;
    width: 10px;
    height: 20px;
    background-color: transparent;
    border: none;
    background-image: url('https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-prev.png');
    background-repeat: no-repeat;
}

#slide-prev-off {
    display: block;
    margin-top: 4px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: none;
    background-image: url('https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-prev.png');
    background-repeat: no-repeat;
    filter: opacity(0.4) drop-shadow(0 0 0 #0000);
}

#slide-next {
    width: 10px;
    height: 20px;
    margin-top: 4px;
    background-color: transparent;
    border: none;
    background-image: url('https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-next.png');
    background-repeat: no-repeat;
}

#slide-next-off {
    display: block;
    margin-top: 4px;
    width: 10px;
    height: 20px;
    background-color: transparent;
    border: none;
    background-image: url('https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-next.png');
    background-repeat: no-repeat;
    filter: opacity(0.4) drop-shadow(0 0 0 #0000);
}

#slide-move {
    width: 10px;
    height: 20px;
    margin-top: 4px;
    background-color: transparent;
    border: none;
    background-image: url('https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-pause.png');
    background-repeat: no-repeat;
}

#slide-stop {
    width: 10px;
    height: 20px;
    margin-top: 4px;
    background-color: transparent;
    border: none;
    background-image: url(' https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-play.png');
    background-repeat: no-repeat;
}

img.animatedItemUp {
    animation-name: slide-up;
    animation-duration: 0.5s;

}

img.animatedItemLeft {
    animation-name: slide-left;
    animation-duration: 0.5s;

}


@keyframes slide-up {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes slide-left {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }

}