* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  color: #3f464d;
  background-color: #ffffff;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #fbf9fd;
}

a:visited {
  text-decoration: none;
  color: #fbf9fd;
}

a:active {
  text-decoration: none;
  color: #fbf9fd;
}

a:hover {
  text-decoration: none;
  color: #a1a1a1
}

div.app {
  width: 100%;
}

.head-container {
  max-width: 100%;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1.title a {
  font-size: 40px;
  color: #fbf9fd;
  margin-left: 15px;
  font-weight: bold;
}

h1.title a:hover {
  color: #000000;
  cursor: pointer;
}


div.menu-box-active {
  width: 100%;
  height: 100%;
  background-color: #7e7d7d;
  position: fixed;
  z-index: 50;
  opacity: 90%;
  left: 0;
  top: 0;

}

div.menu-box {
  display: none;
}

ul.menu {
  font-size: 6vh;
  font-weight: bold;
  list-style: none;
  display: block;
  padding-top: 40px;
  padding-left: 25%;
  line-height: 7.5vh;
}

ul.header-menu {
  font-size: 20px;
  width: 50%;
  font-weight: bold;
  margin-right: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

ul.member {
  font-size: 4vh;
  list-style: none;
  font-weight: bold;
  line-height: 5.5vh;
}

div.btn-box {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  height: 80px;
  align-items: center;
}

button.menu_btn {
  display: flex;
  margin: auto 0;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  z-index: 1000;
  background-color: #3d3d3d;

}

button.menu_btn:hover {
  background-color: #000000;
  cursor: pointer;
}

button.menu_btn span {
  width: 70%;
  height: 3px;
  background: #ffffff;
}

#wrapper {
  padding-top: 150px;
  height: auto;
  min-height: 100vh;
  padding-bottom: 100px;
}

footer {

  border-top: 1px solid #000;
  height: 100px;
  position: relative;
  transform: translateY(-100%);
}

.footer-copyright {
  color: #000000;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}